@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
  .normal-article-text {
    @apply font-normal;
    @apply text-[1.15rem];
    @apply leading-[1.8rem];
  }
}

@theme inline {
  --font-geist: var(--font-geist);
  --font-geist-mono: var(--font-geist-mono);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-geist), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
